[motor_constants SiboorAB]
# Coil resistance, Ohms
resistance: 2.3
# Coil inductance, Henries
inductance: 0.0035
# Holding torque, Nm
holding_torque: 0.35
# Nominal rated current, Amps
max_current: 1.2
# Steps per revolution (1.8deg motors use 200, 0.9deg motors use 400)
steps_per_revolution: 200

[autotune_tmc stepper_x]
motor: SiboorAB
extra_hysteresis: 1
tuning_goal: auto
tbl: 1
toff: 1
sg4_thrs: 120
voltage: 24


[autotune_tmc stepper_y]
motor: SiboorAB
extra_hysteresis: 1
tuning_goal: auto
tbl: 1
toff: 1
sg4_thrs: 120
voltage: 24

[autotune_tmc stepper_z]
motor: SiboorAB
extra_hysteresis: 1
tuning_goal: auto
tbl: 2
#toff: 0
sg4_thrs: 120
voltage: 24